GEMINI_API_KEY=

POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpassword
POSTGRES_DB=rag_monitoring
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

QDRANT_HOST=localhost
QDRANT_PORT=6333

GRAFANA_ADMIN_PASSWORD=admin
